<table class="table">
  <thead>
    <th>ID</th>
    <th>Título</th>
    <th>Ações</th>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }}</td>
      <td>{{ task.title }}</td>
      <td>
        <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#TaskDetailModel" (click)="onSelect(task)">
          Detalhes
        </button>
        <button class="btn btn-danger">
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>

<task-detail [task]="selectedTask"></task-detail>
