<h4 class="page-header">Lista de Tarefas</h4>

<div class="well">

  <div  *ngIf="errorText" class="alert alert-danger">
    <strong>
      <span class="glyphicon glyphicon-warning-sign"></span>
      Ocorreu um erro ao tentar adicionar uma tarefa no sistema.
    </strong>

    <ul>
      <li>{{ errorText }}</li>
    </ul>
  </div>

  <form (ngSubmit)="createTask()">
    <div class="row">
      <div class="col-lg-12">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="newTask.title" placeholder="Nova tarefa" name="title">
          <span class="input-group-btn">
            <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Adicionar</button>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>


<div class="panel panel-default animate__animated animate__fadeInUp">
  <div class="panel-heading"><span class="glyphicon glyphicon-check text-success"></span> Tarefas</div>
  <div style="overflow-y: hidden">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Prazo</th>
          <th>Situação</th>
          <th>Usuário</th>
        </tr>
      </thead>
      <tbody>
        <span *ngIf="tasks?.length == 0" class="msg-table">Não existe tarefa cadastrada!</span>
        <tr *ngFor="let task of tasks | paginate: { itemsPerPage: 5, currentPage: paginaAtual}; let i = index" [ngClass]="colorClassForStatusTask(task.done_description)">
          <td>{{ task.id }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.deadline }}</td>
          <td>{{ task.done_description }}</td>
          <td>{{ task.name }}</td>
          <td>
            <a [routerLink]="['/tasks',task.id]" class="btn btn-primary">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>&nbsp;
            <button class="btn btn-danger" (click)="deleteTask(task)">
              <span class="glyphicon glyphicon-trash"></span>
              <!-- Excluir -->
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-table">
    <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo" responsive="true"></pagination-controls>
  </div>
</div>
