<h4 class="page-header">Lista de Requisições</h4>

<div class="well">
  <form (ngSubmit)="createRequest()">
    <div class="row">
      <div class="col-lg-12">
        <div class="input-group">
          <div class="col-xs-4 col-lg-4">
            <input type="text" class="form-control" [(ngModel)]="newRequest.date" placeholder="Data da requisição" name="date">
          </div>
          <div class="col-xs-4 col-lg-4">
            <!-- <input type="text" class="form-control" [(ngModel)]="newRequest.request_type" placeholder="Tipo de requisição" name="request_type"> -->
            <select id="request_type" class="form-control" [(ngModel)]="newRequest.request_type" placeholder="Tipo de requisição" name="request_type">
              <option *ngFor="let option of requestTypeOptions" [value]="option.value">{{ option.text }}</option>
            </select>
          </div>
          <div class="col-xs-4 col-lg-4">
            <input type="text" class="form-control" [(ngModel)]="newRequest.description" placeholder="Descrição" name="description">
          </div>
          <!-- <input type="text" class="form-control" [(ngModel)]="newRequest.document" placeholder="Nova requisição" name="document"> -->
          <span class="input-group-btn">
            <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Adicionar</button>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Descrição</th>
      <th>Tipo</th>
      <th>Usuário</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of requests">
      <td>{{ request.id }}</td>
      <td>{{ request.description }}</td>
      <td><span class="glyphicon" [ngClass]="iconClassForInOut(request.request_type)"></span> {{ request.request_type }}</td>
      <td>{{ request.name }}</td>
      <td>
        <a [routerLink]="['/requests', request.id]" class="btn btn-primary">
          <span class="glyphicon glyphicon-info-sign"></span>
          <!-- Detalhes -->
        </a>&nbsp;
        <a [routerLink]="['/requests',request.id,'details']" class="btn btn-success">
          <span class="glyphicon glyphicon-apple"></span>
          <!-- Requisição -->
        </a>&nbsp;
        <button class="btn btn-danger" (click)="deleteRequest(request)">
          <span class="glyphicon glyphicon-trash"></span>
          <!-- Excluir -->
        </button>
      </td>
    </tr>
  </tbody>
</table>
