<h4 class="page-header">Lista de Produtos</h4>

<div class="well">

  <div  *ngIf="errorText" class="alert alert-danger">
    <strong>
      <span class="glyphicon glyphicon-warning-sign"></span>
      Ocorreu um erro ao tentar adicionar um produto no sistema.
    </strong>

    <ul>
      <li>{{ errorText }}</li>
    </ul>
  </div>

  <form (ngSubmit)="createProduct()">
    <div class="row">
      <div class="col-lg-12">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="newProduct.name" placeholder="Novo produto" name="name">
          <span class="input-group-btn">
            <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Adicionar</button>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>



<div class="panel panel-default animate__animated animate__fadeInUp">
  <div class="panel-heading"><span class="glyphicon glyphicon-apple text-danger"></span> Produtos</div>
  <div style="overflow-y: hidden">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Produto</th>
          <th>Qtd. Entrada</th>
          <th>Qtd. Saída</th>
          <th>Qtd. Estoque</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <span *ngIf="products?.length == 0" class="msg-table">Não existe produto cadastrado!</span>
        <tr *ngFor="let product of products | paginate: { itemsPerPage: 5, currentPage: paginaAtual}; let i = index" [ngClass]="colorClassForStatus(product.quantity_measure)">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.quantity_in }} {{ product.measure}}</td>
          <td>{{ product.quantity_out }} {{ product.measure}}</td>
          <td>{{ product.quantity_inventory }} {{ product.measure}}</td>
          <td><span class="label" [ngClass]="labelClassForStatus(product.quantity_measure)">{{ product.quantity_description }}</span></td>
          <td>
            <a [routerLink]="['/products',product.id]" class="btn btn-primary">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>&nbsp;
            <button class="btn btn-danger" (click)="deleteProduct(product)">
              <span class="glyphicon glyphicon-trash"></span>
              <!-- Excluir -->
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-table">
    <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo" responsive="true"></pagination-controls>
  </div>
</div>
