<h4 class="page-header">Painel de Controle</h4>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default animate__animated animate__fadeInLeft">
      <div class="panel-heading"><h4><span class="glyphicon glyphicon-check text-success"></span> Tarefas</h4></div>
      <div style="overflow-y: hidden">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Tarefas</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <span *ngIf="tasks?.length == 0" class="msg-table">Não existe tarefa cadastrada!</span>
            <tr *ngFor="let task of tasks | paginate: {  id: 'taskPage', itemsPerPage: 3, currentPage: paginaAtualTask}; let t = index" [ngClass]="colorClassForStatusTask(task.done)" [routerLink]="['/tasks', task.id]">
              <td class="col-xs-7">{{ task.title }}</td>
              <td><span class="label" [ngClass]="labelClassForStatusTask(task.done)">{{ task.done_description }}</span></td>
              <!-- <td  class="text-right">
                <a [routerLink]="['/tasks', task.id]" class="btn btn-primary">
                  <span class="glyphicon glyphicon-info-sign"></span>
                </a>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination">
        <pagination-controls id="taskPage" (pageChange)="paginaAtualTask = $event" previousLabel="Anterior" nextLabel="Próximo" responsive="true"></pagination-controls>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default panel-default animate__animated animate__fadeInRight">
      <div class="panel-heading"><h4><span class="glyphicon glyphicon-apple text-danger disabled"></span> Produtos</h4></div>
      <div style="overflow-y: hidden">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Produtos</th>
              <th>Estoque</th>
            </tr>
          </thead>
          <tbody>
            <p *ngIf="products?.length == 0" class="msg-table">Não existe produto cadastrado!</p>
            <tr *ngFor="let product of products | paginate: { id: 'productPage', itemsPerPage: 3, currentPage: paginaAtualProduct}; let p = index" [ngClass]="colorClassForStatusProduct(product.quantity_measure)" [routerLink]="['/products', product.id]">
              <td>{{ product.name }}</td>
              <td>{{ product.quantity_inventory }} {{ product.measure}}</td>
              <!-- <td  class="text-right">
                <a [routerLink]="['/products', product.id]" class="btn btn-primary">
                  <span class="glyphicon glyphicon-info-sign"></span>
                </a>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination">
        <pagination-controls id="productPage" (pageChange)="paginaAtualProduct = $event" previousLabel="Anterior" nextLabel="Próximo" responsive="true"></pagination-controls>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="panel panel-default animate__animated animate__fadeInUp">
      <div class="panel-heading"><h4><span class="glyphicon glyphicon-refresh text-primary disabled"></span> Requisições</h4></div>
      <div style="overflow-y: hidden">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Requisições</th>
              <th>Tipo</th>
              <th>Status</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <span *ngIf="requests?.length == 0" class="msg-table">Não existe requisição cadastrada!</span>
            <tr *ngFor="let request of requests | paginate: {  id: 'requestPage', itemsPerPage: 3, currentPage: paginaAtualRequest}; let r = index" [ngClass]="colorClassForStatusRequest(request.status)" [routerLink]="['/requests', request.id]">
              <td>{{ request.description }}</td>
              <td>
                <span class="glyphicon" [ngClass]="iconClassForInOut(request.request_type)"></span>
                 {{ request.request_type }}
              </td>
              <td><span class="label" [ngClass]="labelClassForStatusRequest(request.status)">{{ request.status_description }}</span></td>
              <td>{{ request.name }}</td>
              <!-- <td  class="text-right">
                <a [routerLink]="['/requests', request.id]" class="btn btn-primary">
                  <span class="glyphicon glyphicon-info-sign"></span>
                </a>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination">
        <pagination-controls id="requestPage" (pageChange)="paginaAtualRequest = $event" previousLabel="Anterior" nextLabel="Próximo" responsive="true"></pagination-controls>
      </div>
    </div>
  </div>
</div>
